$main_FontColor: white;


#triangle-right {
  // border: 2px solid black;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 8%;
  border-top: 200px solid transparent;
  border-left: 300px solid $main_FontColor;
  border-bottom: 200px solid transparent;
  opacity: 0.3;
}

.jumbotron {

  background-image: url("../../assets/images/hero_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 900px;
  margin: 0 0 0 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 10%;

  .container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;

    h1 {
      font-size: 80px;
      font-family: Ubuntu, cursive;
      color: $main_FontColor;
      font-weight: 700;
      line-height: 1.2;
    }

    h3 {
      font-size: 40px;
      font-family: Anton, sans-serif;
      color: #2d2d2d;
      letter-spacing: 2px;
    }

    a {
      font-size: 15px;
      text-decoration: none;
      color: #f206e9;
      letter-spacing: 2px;
    }

    a span{
      color: $main_FontColor;
      font-size: 50px;
      position: relative;
      top: 18px;
    }
  }


}
